.individual-question{
    display: flex;
    width: 100%;
    padding: 15px 0px;
    border-bottom: 4px solid #eee;
    width: 100%;
    margin-left: -89px;
}
.individual-question-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-left: 1rem;
    margin-right: -10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.individual-question:hover{
  background-color: rgb(255, 248, 235);
  border-radius: 7px;
}
/* .individual-question-container:hover{
background-color: rgb(255, 248, 235);
border-radius: 7px;
padding: 2 rem;
} */
.left-bar{
    display: flex;
    margin-left: 40px;
    margin-right: 15px;
}
.all-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: small;
}
/* individual option in left bar */
.all-option{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.all-option > p {
    font-size: medium;
}
.qNa-bar{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.qNa-bar > .link > a{
    color: #0151f0d8;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-decoration: none;
    transition: transform 0s ease;
    /* transition: transform 0.5s, filter .8s ease-in-out; */
}
 .qNa-bar > .link{
  display: flex;
  flex-direction: column;
  width: max-content;
  height: auto;
}
.qNa-bar > .link > a:hover {
    color: #0038a7d8;
    margin-bottom: 10px;
    cursor: pointer;   
    transform: scale(1.049); 
  }
  .qNa-bar > div{
    margin-bottom: 15px;
  }
  
  .question-tag{
    margin: 10px 5px;
    padding: 5px 10px;
    background-color: #00ccff17;
    border-radius: 7px;
    font-size: small;
    color:rgb(73, 93, 177);
  }
  .question-tag:hover{
    background-color: rgb(203, 229, 237);
    cursor: pointer;
  }
  .author{
    display: flex;
    flex-direction: column;
    /* margin-left: auto; */
    margin-top: auto;
    
  }
  .author > small{
    color: rgb(68, 68, 68);
    text-align:center;
  }
  .author-details {
    display: flex;
    align-items: center;
  }
  .author-details > p {
    margin-left: 4px;
    font-size: small;
    color: #0151f0d8;
    text-decoration: none;
  }
  .author-details > .MuiSvgIcon-root {
    font-size: 0.5px;
  }
   

