.individual-question{
    display: flex;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 2px solid #eee;
    width: 100%;
}
.individual-question-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.left-bar{
    display: flex;
    margin-left: 50px;
    margin-right: 15px;
}
.all-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: small;
}
/* individual option in left bar */
.all-option{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.all-option > p {
    font-size: medium;
}
.qNa-bar{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.qNa-bar > a{
    color: #0151f0d8;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-decoration: none;
}
.qNa-bar > a:hover {
    color: #5179c9d8;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .qNa-bar > div{
    margin-bottom: 15px;
  }
  .question-tag{
    margin: 10px 5px;
    padding: 5px 10px;
    background-color: #00ccff17;
    border-radius: 7px;
    font-size: small;
    color:rgb(73, 93, 177);
  }
  .question-tag:hover{
    background-color: rgb(203, 229, 237);
    cursor: pointer;
  }
  .author{
    display: flex;
    flex-direction: column;
    /* margin-left: auto; */
    margin-top: auto;
  }
  .author-details {
    display: flex;
    align-items: center;
  }
  .author-details > p {
    margin-left: 4px;
    font-size: small;
    color: #0151f0d8;
    text-decoration: none;
  }
  .author-details > .MuiSvgIcon-root {
    font-size: 0.5px;
  }
   

