.sidebar {
    display: flex;
    padding: 20px 0px 10px 10px;
    height: 100%;
    border-right: 2px solid #ddd;
    flex: 0.5;
    max-width: 200px;
  }
  .sidebar-container {
    margin: 10px 0px;
    display: flex;
    width: 100%;
    height: max-content;
    position: sticky;
    top:11vh; 
  }
  .sidebar-options {
    display: flex;
    flex-direction: column;
    width: 200px;
    position: sticky;
  }
  .sidebar-option {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    font-size: 14px;
  }
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.534);
  }
  
   a:hover {
    color: #000;
  } 
  .sidebar-option > p {
    color: rgba(0, 0, 0, 0.534);
    font-size: 14px;
  }
  .link {
    display: flex;
    flex-direction: column;
  }
  .link-tag {
    display: flex;
    align-items: center;
    padding: 5px 0;
    width: 99.9%;
    color: #000;
    
  }  
  .link-tag:hover {
    border-right: 4px solid rgb(245, 162, 9);
    background-color: #f0f0f0;
    border-radius: 4px;
    color: #000;
  }
  .link-tag > .MuiSvgIcon-root {
    font-size: 22px;
    margin-right: 5px;
    color: rgb(245, 162, 9);
  }
  .tags {
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.534);
    margin: 0px 25px;
  }
  .tags > p {
    margin: 5px 0;
    cursor: pointer;
  }
  
  .tags > p:hover {
    color: #000;
  }  